
<div class="container">
<form (submit)="loginUser($event)">
	<div class="input">
		<label>Recipe Name:</label>
		<input type="text">
	</div>
	<div class="input">
		<h4>Ingredients</h4>
		<input type="text">
	</div>
	<div class="input">
		<input type="text">
	</div>
	<div class="input">
		<input type="text">
	</div>
	<div class="input">
		<input type="text">
	</div>
	<div class="input">
		<h4>Steps</h4>
		<input type="text">
	</div>
	<div class="input">
		<input type="text">
	</div>
	<div class="input">
		<input type="text">
	</div>
	<div class="input">
		<input type="text">
	</div>
	<div class="input">
		<input type="text">
	</div>
	<div class="input">
		<input type="submit" value="Submit">
	</div>
</form>
</div> 
